!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title Civitas
    meta(name='description', content='UTC GeoTrellis Features Demo')
    meta(name='author', content='UTC')
        
    // Move to separate CSS file
    style(type='text/css')
      body {
      padding-top: 60px;
      padding-bottom: 40px;
      }
      .sidebar-nav {
      padding: 9px 0;
      }
      .options {
      float: right;
      z-index: 999;
      margin-top: 22px;
      }
      #opacitySlider {
      float:right;
      width:200px;
      padding-left: 20px;
      margin-top: -3px;
      }
      #colorChooser {
      float:left;
      }
      @media (max-width: 980px) {
      /* Enable use of floated navbar text */
        .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
        }
      }

      #helpTour {
        display: none;
      }

    // CSS References
    link(href='css/bootstrap.css', rel='stylesheet')
    link(href='css/leaflet.css', rel='stylesheet')
    link(href='css/leaflet.draw.css', rel='stylesheet')
    link(href='css/L.Control.Locate.css', rel='stylesheet')
    link(href='css/l.geosearch.css', rel='stylesheet')

    //if lte IE 8
      link(rel='stylesheet', href='../dist/leaflet.ie.css')

    // JQuery 
    link(href='css/jquery-ui.css', rel='stylesheet')
    link(href='css/application.css', rel='stylesheet')
    // Javascript References

    // Leaflet and plugins
    script(src='js/leaflet-src.js')
    script(src='js/leaflet.draw.js')
    script(src='js/L.Control.Locate.js')
    script(src='js/l.control.geosearch.js')
    script(src='js/l.geosearch.provider.openstreetmap.js')

    // Other
    script(src='js/geojson.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js')
    
    // JQuery Javascript
    script(src='js/jquery-1.9.1.min.js')
    script(src='js/jquery-ui-1.10.0.min.js')

    // Front end frameworks and components
    script(src='js/bootstrap.min.js')
    script(src='js/bootstrap-joyride.js')

    //if lt IE 9
      script(src='../assets/js/html5shiv.js')
  body
    // Main Content
    #main
      // Navigation Bar
      .navbar.navbar-inverse.navbar-fixed-top
        .navbar-inner
          .container-fluid
            button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.brand(href='https://github.com/sbaskin89/utc-geotrellis-demo') Civitas
            .nav-collapse.collapse
              ul.nav.pull-left
                li#helpTourOne
                  a(href='#', data-toggle='tooltip', title='Agriculture and Forestry Model').model-icon
                    i.icon-leaf.icon-large
                li 
                  a(href='#', data-toggle='tooltip', title='Water Quality').model-icon 
                    i.icon-beaker.icon-large
                li 
                  a(href='#', data-toggle='tooltip', title='Biodiversity and Wildlife').model-icon
                    i.icon-globe.icon-large
                li 
                  a(href='#', data-toggle='tooltip', title='Transportation').model-icon
                    i.icon-truck.icon-large
                li 
                  a(href='#', data-toggle='tooltip', title='Economic Development').model-icon
                    i.icon-bar-chart.icon-large
                li 
                  a(href='#', data-toggle='tooltip', title='Energy and Resource Extent').model-icon
                    i.icon-lightbulb.icon-large
                li 
                  a(href='#', data-toggle='tooltip', title='Recreation and Quality of Life').model-icon
                    i.icon-beer.icon-large

              ul.nav.pull-right
                li
                  a(href='https://twitter.com/Thrive2055')
                    | &#32; &#32;
                    i.icon-twitter
                    // https://www.facebook.com/Thrive2055
                li
                  a(href='https://www.facebook.com/Thrive2055')
                    | &#32; &#32;
                    i.icon-facebook-sign
                li
                  a(href='#aboutModal', data-toggle='modal')
                    | &#32; &#32;
                    i.icon-info-sign
                li
                  a#starttour(href='#')
                    | &#32; &#32;
                    i.icon-question-sign
      // Content Sections
      .container-fluid
        .row-fluid
          .span8
            // Map
            #map
            #wrap
              // Legend
              .well.pull-left
                table
                  tbody.legend
                    tr
                      td
                        img#activeRamp(style='text-align: middle;')
                    tr
                      td
                        small Low
                      td(style='position: absolute; margin-left: -28px;')
                        small High
              // Map Options
              .options
                a#clearButton.btn.btn-inverse(href='#') Clear Polygon
                // Color Ramp Selection
                ul#colorChooser.nav
                  li.dropup
                    a#drop5.btn.dropdown-toggle(role='button', data-toggle='dropdown', href='#')
                      | Color Ramps
                      i.icon-angle-down
                    ul#color-ramp-menu.dropdown-menu(role='menu', aria-labelledby='drop5')
                // Opacity Slider
                #opacitySlider
                  span.slider-label Opacity
                  #opacity-slider

          #sidebar.span4
            ul.nav.nav-tabs
              li.active
                a#helpTourTwo(href='#parameters', data-toggle='tab') Parameters
                  | &#32; &#32;
                  i.icon-cogs
              li
                a(href='#summary', data-toggle='tab') Summary
                  | &#32; &#32;
                  i.icon-bar-chart
            #tabBody.tab-content
              // Parameters Pane
              #parameters.tab-pane.active
                // Parameter 1
                .well
                  h4.slider-label Parameter 1
                  span.weight
                  .slider
                // Parameter 2 
                .well
                  h4.slider-label Parameter 2
                  span.weight
                  .slider
                // Parameter 3 
                .well
                  h4.slider-label Parameter 3
                  span.weight
                  .slider
                // Parameter 4 
                .well
                  h4.slider-label Parameter 4
                  span.weight
                  .slider
                // Parameter 5 
                .well
                  h4.slider-label Parameter 5
                  span.weight
                  .slider
              // Summary Pane
              #summary.tab-pane
                h3#helpTourFour Summary
                table#summary-data.table.table-striped.summary-table
                  tbody
                    tr

    // About Modal
    #aboutModal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-header
        h3#myModalLabel Chattannoga Agricultural & Forestry Model
      .modal-body
        p
          | This project is a joint effort of the University of Tennessee at Chattanooga and Azavea, with funding from the Lyndhurst Foundation.
        p
          | The Center for Academic and Innovative Technologies at the University of Tennessee at Chattanooga (CAIT) (UTC), was funded to develop a geospatial data library and planning applications to support long term regional planning efforts. Original project was named the "Regional Resource Inventory". This decision support system and current demo application are being developed in collaboration with a long term regional planning effort for the Greater Chattanooga area (
          a(href='http://thrive2055.com/', target='_blank') http://thrive2055.com
          | ).
        p
          | This is a demo application. In the coming months, we hope to build out the application to include additional models, contextual data layers, and reporting functionality.
        p
          | UTC will continue to serve as a regional clearinghouse for geospatial data, modeled scenarios, and decision support tools after the 3 year regional planning effort is completed.
        p
          | For more information on the UTC project contact:
          br
          br
          | Andy Carroll
          br
          | GIS Manager
          br
          | Center for Academic and Innovative Technologies
          br
          br
          | University of Tennessee at Chattanooga
          br
          | 615 McCallie Avenue
          br
          | Chattanooga, TN 37403-2598
          br
          br
          | Office: (423) 425-5389
          br
          | Email:
          a(href='mailto:andrew-carroll@utc.edu') andrew-carroll@utc.edu
      .modal-footer
        button.btn(data-dismiss='modal', aria-hidden='true') Close
    script(src='js/application.js')
    
    // Templates 
    #parameterSlider(style='display: none;')
      .well
        h4.slider-label Parameter 1
        span.weight
        .slider
    li#colorRampTemplate(role='presentation', style='display: none;')
      a(role='menuitem', tabindex='-1', href='#', onclick='return false;')
        img(role='menuitem', tabindex='-1', src='img/ramps/blue-to-orange.png')

    // Bootstrap Tour
    ol#helpTour(display-style='none')
      li(data-target='#helpTourOne', data-placement='bottom', data-title='Step One: Choose') Begin by selecting a model.
      li(data-target='#helpTourTwo', data-placement='bottom', data-title='Step Two: Configure') Toggle the model parameters to match your values. 
      li(data-target='#map', data-placement='right', data-title='Step Three: Discover') Use the polygon control located on the left side of the map to draw a polygon and summerize the results.

      script
        //$('.leaflet-draw-draw-polygon').attr("id", "helpTourThree");

        $('#starttour').click(function (e) {
          e.preventDefault();
          $('#overlay').show();
          $(this).BootJoyride({
            'cookieMonster': false,           // true/false for whether cookies are used
            'cookieName': 'myHomepageTour',  // choose your own cookie name
            'cookieDomain': false,           // set to false or yoursite.com
            'tipContent': '#helpTour',    // The ID of the <ol> used for content
            'postRideCallback': endtour,      // A method to call once the tour closes
            'postStepCallback': $.noop,      // A method to call after each step
            'nextOnClose': false,            // If cookies are enabled, increment the current step on close
            'debug': false
          });  
        });

        function endtour() {
          $('#overlay').hide();
        }